{% extends 'base.html.twig' %}

{% block body %}
<div class="container" id="product_display_area">
	{{ include('/product/productcontainer.html.twig') }}
</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
